body {
	background: #FFFFFF;
	
}

header {
	font-family: 'Alegreya', serif;
	border: 1px solid #F5F5F5;
	padding: 5px;
	margin 10px; 
}

main {
	font-family: 'Open Sans', sans-serif;
}

.js-search .text_input {
	width = 100%;
	border-radius: 1px;
}

.js-search .submit_button {
	background = blue;
	border-radius: 1px;
}

ul {
	display: inline-block;
	list-style-type: none;
}

ul li {
	display: inline-block;
}

.panel {
	border: 1px solid #333;
	border-radius: 2px;
	margin: 1px;
}

li p {
	font-family: 'Open Sans', sans-serif;
	color: blue;
	font-size: 0.75em;
}

img {
	width: 100%;

}