body {
	background: #e2d4cc;
	font-family: 'Open Sans', sans-serif;
	color: #3d3835;
}

header {
	background: #FFF;
	padding: 1em 2em;

}

header a {
	text-decoration: none;
	color: #6d625c;
	font-size: 1.0em;
	font-weight: 700;

}

h1 {
	font-family: 'Alegreya', serif;
	text-align: center;
	
}

label {
	display: block;
}

.text_input {
	border-radius: 10px;
	outline:none;
}

.text_input:hover, .text_input:focus {
	background-color: #3d3835;
	color: #FFF; 
}

.my_button {
	background-color: #FFF;
	border-radius: 10px;
	outline:none;
}

.my_button:hover, .my_button:focus{
	background-color: #3d3835;
	color: #FFF; 
}

ul {
	display: inline-block;
	list-style-type: none;
	margin: 0 ;
	padding: 0;
}

ul li {
	display: inline-block;
	height: 300px;
}

li p {
	font-size: 0.75em;
	padding: 0px;
}

img {
	width: 100%;
	height: 75%;

}

footer {
	text-align: center;
}